{% extends "base.html" %}


{% block content %}
<style>

    #sketch {
        border: 5px solid black;
        height: 200px;
        width: 200px;
        position: relative;
    }

    #tmp_canvas {
        position: absolute;
        left: 0px; right: 0;
        bottom: 0; top: 0;
        cursor: crosshair;
    }

</style>

<br>

<center>
    <div class="project_demo">
        <h4 id="prompt">Enter any digit</h4>
        <div id="sketch">
            <canvas id="paint"></canvas>
        </div>
        <br>
        <button type="button" onclick="clearDrawing()">Clear</button>
        <button type="button" onclick="submitDrawing()">Submit</button>
        <br>
        <h3 id="result"></h3>
    </div>
</center>

{% endblock %}

{% block js %}
    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src={% static 'js/ocr_canvas.js' %}></script>
{% endblock %}